/*changed file*/
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
}

body {
  font-family: "Muli", sans-serif;
  min-height: 100vh;
  background-color: #fff !important;
}

.input .container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

nav {
  background: #553c9a;
  color: #fff;
  padding: 1rem 0;
  max-width: 100%;
  min-width: 100%;
}

section.input {
  padding-top: 100px;
}

section h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.form-wrap {
  display: flex;
  justify-content: center;
}

.input-wrap {
  max-width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  margin-top: 20px;
}

input {
  border: none;
  padding: 10px;
  font-size: 16px;
  min-width: 220px;
  max-width: 400px;
  outline: none;
}

button {
  background: #553c9a;
  color: #fff;
  height: 100%;
  font-size: 16px;
  padding: 0 20px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {

  /* For mobile phones: */
  section.data {
    max-width: 85%;
    text-align: center;
  }
}

.loading {
  display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}

section.data p.def {
  font-size: 20px;
  color: #2d3748;
  line-height: 1.6;
}

.suggested {
  background: #b794f4;
  color: #fff;
  padding: 2px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

#meaning {
  color: #000;
  padding: 3px 10px;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 5px;
  display: inline-block;
  text-align: left;
}

.audio {
  margin-top: 20px;
}

#input1 {
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
}

/*font-size of index of verse*/
.index {
  font-size: 12px;
}

/*to change the background color, edit the background-color value in nav, .suggested, button*/



/* scaffolding */
/* ----------- */

html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */


a {
  color: #553c9a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

p+p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */
.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 0.875rem;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #553c9a;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 222px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 0.875rem;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #553c9a;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #553c9a;

}

.tt-suggestion p {
  margin: 0;
}



/* customs scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: #553c9a;
}